<div class="footer">
    <div class="inline_block guayaquil">
        <a href="http://www.technologytrade.ru/" rel="follow" target="_blank"><span class="letter">G</span><span class="text">uayaquil</span> <span class="copyright">©</span></a>
    </div>
</div>
</div>
</body>